Rag based chatbot.json
{
  "name": "Rag based chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -48
      ],
      "id": "2402d273-93b3-41fd-a895-f67fe75f8b01",
      "name": "When chat message received",
      "webhookId": "8619841b-75ea-4746-b1b5-3d6df384fa91"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        -144
      ],
      "id": "6c8ad6cc-18c9-4051-87df-fba2cc7ca02a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        96
      ],
      "id": "5043f41a-9a32-4cc7-b627-086022f4fe3e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WfG3Q0QkHgOgQvG9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -208,
        80
      ],
      "id": "ce962066-f72b-41f2-a504-9863b1f5d116",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Data is about research paper attention of attention is all you need",
        "method": "POST",
        "url": "https://prod-1-data.ke.pinecone.io/assistant/chat/123",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "$PINECONE_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.chatInput }}\"\n    }\n  ],\n  \"stream\": false,\n  \"model\": \"gpt-4o\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -64,
        32
      ],
      "id": "a028ad1c-3387-4cda-879d-1c9a72cb4529",
      "name": "HTTP Request",
      "credentials": {
        "pineconeApi": {
          "id": "1EUUCE8QXPqdH5Ip",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0908361f-99b4-4f90-81d1-7e1e63faf734",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f38815cddc14ffbffd0574cef2f09e0a30c7ac7369958d091873d35a432fdb6"
  },
  "id": "S7iMZ0smB74YJ1Xy",
  "tags": []
}